/* Common Elements */

body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    position:fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    min-height: 100%;
    min-width: 700px;
    filter:brightness(50%);
}

button {
    width: 150px;
    height: 32px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #c7c7c7;
}

.redButton {
    background-color: #d71920;
    color: #ffffff;
}

.redButton:hover {
    background-color: #b5151a;
    color: #ffffff;
}

.redButton:active {
    background-color: #d71920;
    color: #ffffff;
}

.blueButton {
    background-color: #197cd7;
    color: #ffffff;
}

.blueButton:hover {
    background-color: #1667b3;
    color: #ffffff;
}

.blueButton:active {
    background-color: #197cd7;
    color: #ffffff;
}

.greenButton {
    background-color: #3acc07;
    color: #ffffff;
}

.greenButton:hover {
    background-color: #2ca002;
    color: #ffffff;
}

.greenButton:active {
    background-color: #3acc07;
    color: #ffffff;
}

.inputField {
    position: relative;
    width: 150px;
    height: 20px;
}

.inputField input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
}

.inputField label {
    position: absolute;
    left: 2px;
    bottom: 3.5px;
    width: 100%;
    color:#9b9b9b;
    font-size: 1rem;
    font-style: italic;
    pointer-events: none;
    transition-property: bottom font-size;
    transition-duration: 0.135s;
    transition-timing-function: ease-in-out;
}

.inputField input:focus {
    border-color: #d71920;
    outline: none;
}

.inputField input:valid {
    border-color: #d71920;
}

.inputField:focus-within label{
    bottom: 100%;
    font-size: 0.8rem;
}

.inputField input:valid + label{
    bottom: 100%;
    font-size: 0.8rem;
}

.panel {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

hr {
    height: 2px;
    background-color: #9b9b9b;
    border: none;
    border-radius: 2px;
}

nav {
    display: flex;
    width: 95vw;
    height: fit-content;
    margin: 25px auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav .iconify {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
}

nav p {
    display: inline-block;
    font-weight: bold;
}


nav .info {
    display: inline-block;
    height: 100%;
    flex-grow: 1;
}

nav button {
    margin: auto 0;
    vertical-align: middle;
}

nav .timer {
    display: inline-block;
    position: absolute;
    right: 1rem;
}

/* Login */

.loginForm {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    width: 80vw;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginForm .logo{
    width: 65%;
    margin: 1rem auto 3rem auto;
    display: block;
}

.loginForm .inputField {
    margin: 2rem auto 0rem auto;
    width: 75%;
}

.loginForm button {
    margin: 0 auto;
    width: 75%;
    display: block;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

/* Test Page */

.tests {
    position: relative;
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 25px;
    min-height: calc(100vh - 3.5rem - 75px);
}

.tests h3{
    margin: 0;
    padding-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.tests .listButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 150px;
}

.tests .testList {
    padding-bottom: 75px;
}

.test {
    display: flex;
    width: 95%;
    background-color: #F2F2F2;
    margin: 10px auto;
    border-radius: 7px;
}

.test p {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;
    flex-grow: 1;
}

.test .buttons {
    display: inline-block;
    margin-top: 0.75rem;
    margin-right: 1rem;
    min-width: fit-content;
}

.test .buttons button {
    margin-left: 5px;
}

/* Question */

.question {
    width: 95vw;
    margin: 25px auto;
    display: grid;
    grid-template-rows: 25px auto;
    grid-template-columns: 30% auto;
    grid-template-areas: "info info" "image text";
    gap: 20px;
}

.noImage {
    grid-template-columns: 0 100%;
    gap: 0;
}

.noImage img {
    display: none;
}

.question .number {
    display: inline-block;
    grid-area: info;
    text-align: right;
    margin: 0;
    padding: 20px;
}

.question hr {
    grid-area: info;
    width: calc(100% - 40px);
    margin-top: 45px;
}

.question  img {
    width: 100%;
    padding: 20px;
    grid-area: image;
}

.question .text {
    grid-area: text;
    text-align: justify;
    margin: 0;
    padding: 20px;
}

.answer {
    width: 95vw;
    margin: 0 auto;
    min-height: 45px;
    position: relative;
    margin-bottom: 10px;
}

.answer p {
    display: inline-block;
    margin: 12px 40px 12px 10px;
    user-select: none;
    text-align: justify;
    padding: 0;
}

.answer label {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.answer input {
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.questionButtons {
    width: 95vw;
    height: 32px;
    margin: 25px auto 25px auto;
}

.questionButtons button {
    margin-left: 10px;
    width: 150px;
    float: right;
}

/* Result */

.resultForm {
    display: inline-block;
    margin: 0 auto;
    background-color: #ffffff;
    width: 80vw;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.resultForm h2{
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.resultForm p {
    margin:0;
    margin-top: 10px;
}

.resultForm .iconify {
    width: 120px;
    height: 120px;
}

.resultForm .pass {
    color:#3acc07;
}

.resultForm .fail {
    color:#d71920;
    display:none;
}

.resultForm button {
    margin: 0 auto;
    width: 75%;
    display: block;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

/* Student profile */


.profile {
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: auto;
    grid-template-areas: "list info";
    gap: 25px;
    margin: 25px;
}

.finishedTestsContainer {
    grid-area: list;
    min-height: calc(100vh - 50px);
}

.finishedTestsContainer h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.finishedTestsContainer .testList{
    padding-bottom: 10px;
}

.profileInfo {
    grid-area: info;
    width: 100%;
    text-align: center;
    height: fit-content;
}

.profileInfo h3 {
    margin: 0;
    margin-top: 20px;
}

.profileInfo img {
    width: 180px;
    height: 200px;
    margin: 1rem auto 1rem auto;
    border-radius: 7px;
    object-fit:cover;
}

.profileInfo p {
    margin: 0;
}

.profileInfo .userName {
    font-weight: bold;
}

.profileInfo .userIndex {
    font-style: italic;
    color: #9b9b9b;
}

.profileInfo button {
    width: 80%;
    margin: 20px auto 20px auto;
    max-width: 300px;
}

/* Test result view */

.viewQuestion {
    width: 95vw;
    min-height: 3.5rem;
    margin: 0 auto;
    margin-bottom: 25px;
    position:relative;
}

.viewQuestion .content {
    display: none;
    height: fit-content;
    overflow: hidden;
    padding-bottom: 1rem;
}

.viewQuestion .answer {
    width: 95%;
}

.viewQuestion .answer p {
    margin: 12px 40px 12px 0px;
    padding: 0;
}

.viewQuestion .iconify {
    width:2rem;
    height: 2rem;
    vertical-align: middle;
    margin-left: 10px;
}

.viewQuestion label {
    cursor: default;
}

.viewQuestion p{
    display: inline-block;
    padding-left: 1rem;
}

.viewQuestion button {
    display: inline-block;
    position:absolute;
    right: 1rem;
    top: 0.75rem;
}

.viewQuestion .question {
    width: 95%;
    grid-template-rows: 0px auto auto;
}

.viewQuestion .correctAnswer {
    border: 2px solid #3acc07;
}

.viewQuestion .wrongAnswer {
    border: 2px solid #d71920;
}

.correctIcon {
    color: #3acc07;
}

.wrongIcon {
    color: #d71920;
}

/* EditTest */

.testDetails {
    width: 95%;
    margin: 0 auto;
}

.testDetails h3{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 15px;
}

.testDetails .inputField {
    margin-bottom: 25px;
    width: 300px;
}

/* Media */



@media screen and (max-width: 700px) {

    .tests {
        min-height: calc(100vh - 6rem - 75px);
    }

    nav .buttons {
        display: flex;
        position: unset;
        width: calc(100% - 10px);
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0.75rem;
    }

    nav button {
        flex-grow: 1;
    }

    .test {
        display: block;
    }

    .test p {
        width: 100%;
        text-align: center;
    }
    
    .test .buttons {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .test .buttons button {
        width: 100%;
        margin-bottom: 0.75rem;
    }

    .question {
        grid-template-columns: 100%;
        grid-template-rows: 25px auto auto;
        grid-template-areas: "info" "image" "text";
    }
    .noImage {
        grid-template-rows: 25px 0 auto;
    }

    .question img {
        width: calc(100% - 40px);
        padding: 20px 20px 0 20px;
    }

    .profile {
        margin: 25px auto 25px auto;
        width: 95vw;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "info" "list";
    }

}